.explore_container{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    /* overflow: none; */
    justify-content: space-between;
}

.search_wrapper{
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    width: fit-content;
    min-width: min(35.938vw,690px);
    height: fit-content;
    max-height: 100dvh;
    padding: min(2.083vw,40px) min(0.521vw,10px);
    gap: min(1.563vw,30px);
    /* overflow-y: auto; */
}

.search_wrapper::-webkit-scrollbar{
    display: none;
    width: min(0.208vw,4px);
    
}

.search_wrapper::-webkit-scrollbar-thumb{
    
    background-color: transparent;
    background-color: #B7BCF3;
}

.search_wrapper::-webkit-scrollbar-thumb:hover{
    background-color: #2D3DDF;
}

.search_wrapper > input{
    display: flex;
    width: min(36.458vw,700px);
    height: min(2.917vw,56px);
    font-size: min(0.938vw,18px);
    font-weight: 400;
    color: #8E8E8E;
    border: none;
    border-radius: min(0.521vw,10px);
    background-color: #EBEDFF;
    padding: min(0.521vw,10px) min(1.042vw,20px);
}

.search_type_container{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: min(1.563vw,30px);
    margin-top: min(2.344vw,45px);
}
.search_type_container h3{
    display: flex;
    width: fit-content;
    max-width: 100%;
    text-wrap: wrap;
    height: min(2.969vw,57px);
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    font-size: min(1.979vw,38px);
    color: #2D3DDF;
}
.search_type_container .type_list{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: min(5.208vw,100px);
    justify-content: center;
}
.type_list > button{
    display: flex;
    flex-direction: column;
    width: min(3.021vw,58px);
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.type_list > button >div{
    display: flex;
    width: min(3.021vw,58px);
    height: min(3.021vw,58px);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}
.type_list > button >h5{
    display: flex;
    width: fit-content;
    height: min(1.25vw,24px);
    font-size: min(0.833vw,16px);
    font-weight: 400;
    color: #221F3C;
    justify-content: center;
    align-items: center;
}

.type_active{
    background-color: #2D3DDF;
    box-shadow: 10px 4px 16px 0px #0000003C;
}
.type_active svg path {
    fill: white;
    
}
.type_list button:nth-child(2) .type_active svg path{
    stroke: white;
}

/* filter search */
.filter_wrapper{
    display: flex;
    width: 100%;
    height: fit-content; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: min(1.042vw,20px);
}
.filter_wrapper .input{
    display: flex;
    width: 100%;
    height: min(3.229vw,62px);
    background-color: #FFFFFF;
    border: min(0.052vw,1px) solid #B5B5B5;
    justify-content: flex-start;
    align-items: center;
    font-size: min(0.938vw,18px);
    font-weight:  400;
    color: #221F3C;
    padding: 0px min(1.563vw,30px);
    padding-left: min(5.208vw,100px) ;
}
/* location */
.filter_wrapper >div:nth-child(1){
    position: relative;
}
.filter_wrapper >div:nth-child(1) .input{
    width: 100% ;
    border-radius: min(0.26vw,5px);
    
}
.filter_wrapper > div:nth-child(1) svg{
    width: min(1.667vw,32px);
    height: min(1.667vw,32px);
    left: min(1.563vw,30px);
    top: min(0.625vw,12px);
    position: absolute;
}

/* check in & out */
.filter_wrapper >div {
    width: 100% ;
    display: flex;
}
.date_input_wrapper{
    width: 100% ;
    height: fit-content;
    position: relative;
}
.date_input_wrapper .input{
    width: 100% ;
    min-width: min(13.438vw,258px);
}

.date_input_wrapper:nth-child(1) .input{
    /* width: 100% ; */
    border-radius: min(0.26vw,5px) 0px 0px min(0.26vw,5px);
}
.date_input_wrapper:nth-child(2) .input{
    /* width: 100% ; */
    border-radius: 0px min(0.26vw,5px) min(0.26vw,5px) 0px;
}
.date_input_wrapper:nth-child(1) >button{
    position: relative;
}
.date_input_wrapper:nth-child(1) >button>svg{
    width: min(1.667vw,32px);
    height: min(1.667vw,32px);
    left: min(1.563vw,30px);
    top: min(0.625vw,12px);
    position: absolute;
}


/* people */
.people_input_wrapper > .input{
    width: 100% ;
    border-radius: min(0.26vw,5px);
    /* background-color: black; */
}
.filter_wrapper >button{
    display: flex;
    width: min(13.333vw,256px);
    height: min(3.542vw,68px);
    background-color: #2D3DDF;
    border: none;
    border-radius: min(0.26vw,5px);
    justify-content: center;
    align-items: center;
    font-size: min(1.146vw,22px);
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: min(1.042vw,20px);
}
/* input people */
.people_input_wrapper{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.people_input_wrapper:nth-child(3) >button{
    position: relative;
}
.people_input_wrapper:nth-child(3) >button>svg{
    width: min(1.667vw,32px);
    height: min(1.667vw,32px);
    left: min(1.563vw,30px);
    top: min(0.625vw,12px);
    position: absolute;
}


.recent_search_container{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: min(1.042vw,20px);
}
.recent_search_container > h5{
    width: fit-content;
    height: min(1.563vw,30px);
    font-size: min(1.042vw,20px);
    font-weight: 500;
    color: #221F3C;
}
.recent_search_container > div{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: min(0.833vw,16px);
    overflow-y: auto;
    flex-direction: column;
}

.search_item{
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: min(9.01vw,173px);
    gap: min(1.042vw,20px);
    border: 1px solid #D1D1D1;
    align-items: center;
}

.search_item .item_img_wrapper{
    display: flex;
    width: fit-content;
    min-width: min(10.26vw,197px);
    height: min(9.01vw,173px);
    overflow: hidden;
    
}
.search_item .item_img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: min(0.26vw,5px);
}

.item_info_wrapper{
    display: flex;
    width: 100%;
    height: fit-content;
    
}
.item_info_wrapper > div{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.item_info_wrapper > div >div{
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: min(0.104vw,2px);
}
.item_info_wrapper > div >div >h5{
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: min(1.406vw,27px);
    font-size: min(0.938vw,18px);
    font-weight: 500;
    color: #221F3C;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item_info_wrapper > div >div >h3{
   width: fit-content;
   max-width: 100%;
   height: min(1.25vw,24px);
   font-size: min(0.833vw,16px);
   font-weight: 600;
   color: #2D3DDF;
   margin: auto 0px;
   margin-top: min(0.521vw,10px);
}
.star_container{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: min(0.26vw,5px);
    
}
.star_container svg{
    width: min(0.625vw,12px);
    height: min(0.625vw,12px);
}
.review_container{
    display: flex;
    width: fit-content;
    max-width: 100%;
    gap: min(0.833vw,16px);
    margin-top: min(0.313vw,6px);
}
.review_container >div{
    display: flex;
    width: fit-content;
    height: fit-content;
    min-width: min(2.188vw,42px);
    background-color: #FF6969;
    border: none;
    border-radius: min(1.563vw,30px);
    gap: min(0.313vw,6px);
    justify-content: center;
    align-items: center;
    padding: min(0.208vw,4px) min(0.417vw,8px) ;
}
.review_container >div svg{
    width: min(0.521vw,10px);
    height: min(0.521vw,10px);
}
.review_container >div p{
    width: fit-content;
    height: min(0.938vw,18px);
    font-size: min(0.625vw,12px) ;
    font-weight: 500;
    color: #FFFFFF;
    margin: auto;
}
.review_container >p{
    width: fit-content;
    max-width: 100%;
    height: min(1.094vw,21px);
    font-size: min(0.729vw,14px);
    font-weight: 400;
    color: #A8A8A8;
    margin: auto;
}

.amenities_wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    gap: min(0.208vw,4px);
}
.amenities_wrapper > h5{
    width: fit-content;
    max-width: 100%;
    font-size: min(0.729vw,14px);
    font-weight: 400;
    color: #A8A8A8;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto 0px;
}
.amenities_wrapper > div{
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    gap: min(1.042vw,20px);
}
.amenities_wrapper > div >div{
    display: flex;;
    width: min(1.563vw,30px);
    height: min(1.563vw,30px);
    border: none;
    border-radius: min(0.417vw,8px);
    justify-content: center;
    align-items: center;
    box-shadow: 10px 4px 16px 0px #0000003C;
}
.amenities_wrapper > div >div svg{
    width: min(0.938vw,18px);
    height: auto;
}

.book_now_wrapper{
    
    display: flex;
    height: min(9.01vw,173px);
    width:  min(3.333vw,64px);
    justify-content: center;
    align-items: center;
    position: relative;
}
.book_now_wrapper button{
    rotate: 90deg;
    display: flex;
    width: min(9.01vw,173px);
    height: min(3.333vw,64px);
    /* position: absolute; */
    justify-content: center;
    align-items: center;

    position: absolute;
    right: min(-2.865vw,-55px);
    top: min(-1.667vw,-32px);
    cursor: pointer;
    border: none;
    border-radius: min(0.26vw,5px);
    font-size: min(0.938vw,18px);
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2D3DDF;
}




/* tour */
.tour_recommend{
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    width: fit-content;
    min-width: min(51.042vw,980px);
    max-width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    overflow: hidden;
    border: none;
    border-radius: min(2.083vw,40px) 0px 0px min(2.083vw,40px);
    padding: min(5.208vw,100px) min(3.125vw,60px);
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(45, 61, 223, 0) 0%, #171F70 100%);

}

.tour_recommend img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: -1;
}
.tour_recommend svg{
    display: none;
}
.tour_location{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 65%;
    height: fit-content;
    align-items: flex-start;
    gap: min(1.563vw,30px);
}
.tour_location > div h2{
    display: flex;
    width: 100%;
    height:min(4.948vw,95px);
    color: white;
    font-size: min(3.281vw,63px);
    font-weight: 500;
    align-items: center;
    
}

.tour_location > div p{
    width: min(23.333vw,448px);
    min-height: min(4.792vw,92px);
    height: fit-content;
    color: white;
    font-weight: 500;
    font-size: min(1.719vw,33px);
}
.tour_location button{
    width: 179px;
    height: min(3.333vw,64px);
    border: min(0.052vw,1px) solid #FFFFFF59;
    color: #FFFFFF;
    font-size: min(1.042vw,20px);
    font-weight: 600;
    background: linear-gradient(134.44deg, rgba(255, 255, 255, 0.404) 1.31%, rgba(255, 255, 255, 0.302) 93.22%);
    cursor: pointer;
    border: none;
    border-radius: min(0.26vw,5px);
}

@media (width<=390px){
    .explore_container{
        display: flex;
        width: 100%;
        max-width: 100%;
        height: fit-content;
        overflow-y: scroll;
        justify-content: none;
        flex-direction: column-reverse;
    }
    .search_wrapper{
        display: flex;
        /* flex-grow: 1; */
        flex-direction: column;
        width: 100%;
        min-width: 0px;
        height: fit-content;
        max-height: fit-content;
        padding: 0px;
        gap: min(5.128vw,20px);
        /* overflow: hidden; */
        padding: min(5.128vw,20px)  min(5.128vw,20px);

    }
    .search_wrapper::-webkit-scrollbar{
        display: none;
        
    }
    .search_wrapper > input{
        display: flex;
        width: 100%;
        height: min(11.282vw,44px);
        font-size: min(3.59vw,14px);
        font-weight: 400;
        color: #8E8E8E;
        border: none;
        border-radius: min(2.564vw,10px);
        background-color: #EBEDFF;
        padding: min(2.051vw,8px) min(4.103vw,16px);
        
    }
    .search_type_container{
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: min(5.128vw,20px);
        margin-top: min(2.564vw,10px);
        align-items: center;
    }
    .search_type_container h3{
        display: flex;
        width: fit-content;
        max-width: 100%;
        text-wrap: wrap;
        height: min(9.231vw,36px);
        justify-content: center;
        align-items: flex-start;
        font-weight: 500;
        font-size: min(6.154vw,24px);
        color: #2D3DDF;
    }
    .search_type_container .type_list{
        display: flex;
        width: 100%;
        height: fit-content;
        gap: min(15.385vw,60px);
        justify-content: center;
    }
    .type_list > button{
        display: flex;
        flex-direction: column;
        width: min(14.872vw,58px);
        height: fit-content;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .type_list > button >div{
        display: flex;
        width: min(14.872vw,58px);
        height: min(14.872vw,58px);
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
    }
    .type_list > button >div svg{
        width: min(9.231vw,36px);
        height: auto;
    }
    .type_list > button >h5{
        display: flex;
        width: fit-content;
        height: min(6.154vw,24px);
        font-size: min(4.103vw,16px);
        font-weight: 400;
        color: #221F3C;
        justify-content: center;
        align-items: center;
    }

    /* filter search */
    .filter_wrapper{
        display: flex;
        width: 100%;
        height: fit-content; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: min(5.128vw,20px);
    }
    .filter_wrapper .input{
        display: flex;
        width: 100%;
        height: min(11.282vw,44px);
        background-color: #FFFFFF;
        border: min(0.256vw,1px) solid #B5B5B5;
        justify-content: flex-start;
        align-items: center;
        font-size: min(3.59vw,14px);
        font-weight:  400;
        color: #221F3C;
        padding: 0px;
        padding-left: min(14.103vw,55px) ;
    }
    
    /* location */
    .filter_wrapper >div:nth-child(1){
        position: relative;
    }
    .filter_wrapper >div:nth-child(1) .input{
        width: 100% ;
        border-radius: min(1.282vw,5px);
        
    }
    .filter_wrapper > div:nth-child(1) svg{
        width: min(6.154vw,24px);
        height: min(6.154vw,24px);
        left: min(4.359vw,17px);
        top: min(2.564vw,10px);
        position: absolute;
    }

    /* check in & out */
    .filter_wrapper >div {
        width: 100% ;
        display: flex;
    }

    .date_input_wrapper{
        width: 100% ;
        height: fit-content;
        position: relative;
    }

    .date_input_wrapper .input{
        width: 100% ;
        min-width: 0px;
    }
    
    .date_input_wrapper:nth-child(1) .input{
        /* width: 100% ; */
        border-radius: min(1.282vw,5px) 0px 0px min(1.282vw,5px);
    }
    .date_input_wrapper:nth-child(2) .input{
        /* width: 100% ; */
        border-radius: 0px min(1.282vw,5px) min(1.282vw,5px) 0px;
    }
    .date_input_wrapper:nth-child(1) >button>svg{
        width: min(6.154vw,24px);
        height: min(6.154vw,24px);
        left: min(4.359vw,17px);
        top: min(2.564vw,10px);
        position: absolute;
    }
    /* people */
    .people_input_wrapper > .input{
        width: 100% ;
        border-radius: min(1.282vw,5px);
        /* background-color: black; */
    }
    .filter_wrapper >button{
        display: flex;
        width: 100%;
        height: min(12.308vw,48px);
        background-color: #2D3DDF;
        border: none;
        border-radius: min(1.282vw,5px);
        justify-content: center;
        align-items: center;
        font-size: min(4.615vw,18px);
        font-weight: 500;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: min(2.564vw,10px);
    }
    /* input people */
    .people_input_wrapper:nth-child(3) >button>svg{
        width: min(6.154vw,24px);
        height: min(6.154vw,24px);
        left: min(4.359vw,17px);
        top: min(2.564vw,10px);
        position: absolute;
    }
    .recent_search_container{
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: min(5.128vw,20px);
        margin-top: min(5.128vw,20px);
    }
    .recent_search_container > h5{
        width: fit-content;
        height: min(6.154vw,24px);
        font-size: min(4.103vw,16px);
        font-weight: 500;
        color: #221F3C;
    }
    .recent_search_container > div{
        display: flex;
        width: 100%;
        height: fit-content;
        gap: min(2.564vw,10px);
        overflow-y: none;
        overflow-x: auto;
        flex-direction: row;
    }
    .search_item{
        display: flex;
        width: min(52.821vw,206px);
        height: fit-content;
        min-height: min(116.41vw,454px);
        gap: min(5.128vw,20px);
        border: min(0.256vw,1px) solid #D1D1D1;
        align-items: center;
        flex-direction: column;
    }
    .search_item .item_img_wrapper{
        display: flex;
        width: min(52.821vw,206px);
        min-width: min(52.821vw,206px);
        max-width: min(52.821vw,206px);
        height: min(46.154vw,180px);
    }
    .search_item .item_img_wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: min(1.282vw,5px);
    }
    .item_info_wrapper{
        display: flex;
        width: 100%;
        height: fit-content;
        
    }
    .item_info_wrapper > div{
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: column;
        
    }
    .item_info_wrapper > div >div{
        display: flex;
        width: fit-content;
        max-width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: min(1.538vw,6px);
        padding-inline: min(2.564vw,10px);
    }
    .item_info_wrapper > div >div >h5{
        height: min(5.385vw,21px);
        font-size: min(3.59vw,14px);
    }
    .item_info_wrapper > div >div >h3{
        width: fit-content;
        max-width: 100%;
        height: min(6.154vw,24px);
        font-size: mn(3.59vw,14px);
        font-weight: 600;
        color: #2D3DDF;
        margin: auto 0px;
        margin-top: min(2.564vw,10px);
     }
     .star_container{
        display: flex;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap: min(1.282vw,5px);
        
    }
    .star_container svg{
        width: min(3.077vw,12px);
        height: min(3.077vw,12px);
    }
    .review_container{
        display: flex;
        width: fit-content;
        max-width: 100%;
        gap: min(2.564vw,10px);
        /* margin-top: 6px; */
    }
    .review_container >div{
        display: flex;
        width: fit-content;
        height: fit-content;
        min-width: min(12.051vw,47px);
        background-color: #FF6969;
        border: none;
        border-radius: min(7.692vw,30px);
        gap: min(1.026vw,4px);
        justify-content: center;
        align-items: center;
        padding: min(1.026vw,4px) min(2.051vw,8px) ;
    }
    .review_container >div svg{
        width: min(2.564vw,10px);
        height:  min(2.564vw,10px);
        margin: auto;
    }
    .review_container >div p{
        width: fit-content;
        height: fit-content;
        font-size: min(2.564vw,10px) ;
        font-weight: 500;
        color: #FFFFFF;
        margin: auto;
    }
    .review_container >p{
        width: fit-content;
        max-width: 100%;
        height: min(4.615vw,18px);
        font-size: min(3.077vw,12px);
        font-weight: 400;
        color: #A8A8A8;
        margin: auto;
    }
    .amenities_wrapper{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        height: fit-content;
        gap: min(1.026vw,4px);
    }
    .amenities_wrapper > h5{
        font-size: min(3.077vw,12px);
    }
    .amenities_wrapper > div{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /* width: fit-content; */
        max-width: 100%;
        height: fit-content;
        gap: min(2.051vw,8px);
    }
    .amenities_wrapper > div >div{
        display: flex;;
        width: min(7.692vw,30px);
        height: min(7.692vw,30px);
        border: none;
        border-radius: min(2.051vw,8px);
        justify-content: center;
        align-items: center;
        box-shadow: 10px 4px 16px 0px #0000003C;
    }
    .amenities_wrapper > div >div svg{
        width: min(3.077vw,12px);
        height: auto;
    }
    .book_now_wrapper{
        margin-top: min(2.564vw,10px);
        display: flex;
        height: min(10.256vw,40px);
        width:  min(52.821vw,206px);
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .book_now_wrapper button{
        rotate: 0deg;
        display: flex;
        width: min(52.821vw,206px);
        height: min(10.256vw,40px);
        /* position: absolute; */
        justify-content: center;
        align-items: center;
    
        position: static;
        right: none;
        top: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        background-color: #2D3DDF;
    }

    /* tour */
    .tour_recommend{
        display: flex;
        flex-wrap: wrap;
        /* flex-grow: 1; */
        width: 100%;
        min-width: 0px;
        max-width: 100%;
        height: min(109.744vw,428px);
        min-height:min(109.744vw,428px);
        position: relative;
        overflow: hidden;
        flex-direction: column;
        overflow: hidden;
        border: none;
        border-radius: 0px 0px min(10.256vw,40px) min(10.256vw,40px);
        padding: min(6.41vw,25px);
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(45, 61, 223, 0) 0%, #171F70 100%);

    }
    .tour_recommend img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .tour_recommend svg{
        display: flex;
        width: min(7.692vw,30px);
        height: auto;
        position: absolute;
        top: min(7.692vw,30px);
        left: min(7.692vw,30px);
    }
    .tour_location{
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        height: fit-content;
        align-items: flex-start;
        gap: min(5.128vw,20px);
    }
    .tour_location > div h2{
        display: flex;
        width: fit-content;
        max-width: 100%;
        text-wrap: wrap;
        height: fit-content;
        color: white;
        font-size: min(8.205vw,32px);
        font-weight: 500;
        align-items: center;
        
    }
    .tour_location > div p{
        width: fit-content;
        max-width: 80%;
        min-height: min(12.308vw,48px);
        height: fit-content;
        color: white;
        font-weight: 500;
        font-size: min(4.103vw,16px);
    }
    .tour_location button{
        width: 100%;
        height: min(11.282vw,44px);
        border: min(0.256vw,1px) solid #FFFFFF59;
        color: #FFFFFF;
        font-size: min(5.128vw,20px);
        font-weight: 600;
        background: linear-gradient(134.44deg, rgba(255, 255, 255, 0.404) 1.31%, rgba(255, 255, 255, 0.302) 93.22%);
        cursor: pointer;
        border: none;
        border-radius: min(1.282vw,5px);
    }
}